In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
gmaps.configure(api_key = g_key)

In [2]:
%matplotlib inline

In [3]:
#!pip install gmaps

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2020-12-23 03:28:11,-33.93,18.42,66.99,88,20,5.82
1,1,Jamestown,US,2020-12-23 03:28:12,42.10,-79.24,32.00,92,90,4.32
2,2,Puerto Ayora,EC,2020-12-23 03:28:12,-0.74,-90.35,71.01,93,17,6.29
3,3,Lavrentiya,RU,2020-12-23 03:28:12,65.58,-171.00,24.67,98,100,10.42
4,4,Vaini,TO,2020-12-23 03:28:12,-21.20,-175.20,84.20,79,75,5.82

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
#gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:   
    temps.append(max(temp, 0))

In [8]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [9]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Vaini,TO,2020-12-23 03:28:12,-21.20,-175.20,84.20,79,75,5.82
5,5,Atuona,PF,2020-12-23 03:28:12,-9.80,-139.03,78.84,78,72,16.44
6,6,Busselton,AU,2020-12-23 03:28:13,-33.65,115.33,87.01,40,0,1.99
14,14,Port-Gentil,GA,2020-12-23 03:28:15,-0.72,8.78,78.21,85,75,8.81
17,17,Butaritari,KI,2020-12-23 03:28:15,3.07,172.79,81.09,78,0,16.58
25,25,Poum,NC,2020-12-23 03:28:17,-20.23,164.02,79.75,77,3,8.90
28,28,Carnarvon,AU,2020-12-23 03:28:18,-24.87,113.63,89.60,55,0,14.99
32,32,Soyo,AO,2020-12-23 03:28:19,-6.13,12.37,77.49,88,100,7.76
34,34,Ocos,GT,2020-12-23 03:28:19,14.51,-92.19,75.20,100,40,5.55
39,39,Port Augusta,AU,2020-12-23 03:28:20,-32.50,137.77,78.01,49,0,12.75

In [15]:
preferred_cities_df.count()

City_ID       128
City          128
Country       128
Date          128
Lat           128
Lng           128
Max Temp      128
Humidity      128
Cloudiness    128
Wind Speed    128
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
4          Vaini      TO     84.20 -21.20 -175.20
5         Atuona      PF     78.84  -9.80 -139.03
6      Busselton      AU     87.01 -33.65  115.33
14   Port-Gentil      GA     78.21  -0.72    8.78
17    Butaritari      KI     81.09   3.07  172.79
25          Poum      NC     79.75 -20.23  164.02
28     Carnarvon      AU     89.60 -24.87  113.63
32          Soyo      AO     77.49  -6.13   12.37
34          Ocos      GT     75.20  14.51  -92.19
39  Port Augusta      AU     78.01 -32.50  137.77

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
 #   hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
4          Vaini      TO     84.20 -21.20 -175.20
5         Atuona      PF     78.84  -9.80 -139.03
6      Busselton      AU     87.01 -33.65  115.33
14   Port-Gentil      GA     78.21  -0.72    8.78
17    Butaritari      KI     81.09   3.07  172.79
25          Poum      NC     79.75 -20.23  164.02
28     Carnarvon      AU     89.60 -24.87  113.63
32          Soyo      AO     77.49  -6.13   12.37
34          Ocos      GT     75.20  14.51  -92.19
39  Port Augusta      AU     78.01 -32.50  137.77

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))